.sidenav-container {
  width: 100vw;
  height: 100vh;
}

.example-sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}


.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.sidenav {
    width: 280px;
    background-color: #ffffff;
}

.name {
  cursor: pointer;
}