.sidenav-container {
  width: 100vw;
  height: 100vh;
}

.example-sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}


.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.sidenav {
    width: 280px;
    background-color: #ffffff;
}

.name {
  cursor: pointer;
  margin: auto;
  font-family: tornac;
  font-size: 36px;
}


.buttons {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.body {
  height: calc(100vh - 64px);
}

md-toolbar {
  position: fixed;
  transform: transition all .2s;
}

.toolbar-shadow {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}