#home-image {
    width: 100%;
}

.page {
    background-color: #FFF;
}

.school-container {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

img {
    width: 100%;
    height: auto;
    margin-top: 48px;
}

.body {
    display: flex;
    flex-direction: column;
}