<div id="layout">
  <div class="column">

  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fkinhphhnnfgcbfodlbbjgonmdifggni">

    <div id="school-stats">
      <img id="shcool-image" src="/assets/schoolLogo.JPG">
      <div id="money-box">
        <div id="fill"></div>
      </div>
    </div>
    <div class="products-navigate">
      <md-icon (click)="scrollToBottom()">expand_more</md-icon>
    </div>

    <md-select>
      <md-option *ngFor="let school of schools">{{school.name}}</md-option>
    </md-select>

    <div id="featured-products">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=kikback-20&marketplace=amazon&region=US&placement=B00347A8NK&asins=B00347A8NK&linkId=f883bcc425567adc2f214a069799791c&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=a6a6a6">
    </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=kikback-20&marketplace=amazon&region=US&placement=B00347A8NK&asins=B00347A8NK&linkId=f883bcc425567adc2f214a069799791c&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=a6a6a6">
    </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=kikback-20&marketplace=amazon&region=US&placement=B00347A8NK&asins=B00347A8NK&linkId=f883bcc425567adc2f214a069799791c&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=a6a6a6">
    </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=kikback-20&marketplace=amazon&region=US&placement=B00347A8NK&asins=B00347A8NK&linkId=f883bcc425567adc2f214a069799791c&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=a6a6a6">
    </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=kikback-20&marketplace=amazon&region=US&placement=B00347A8NK&asins=B00347A8NK&linkId=f883bcc425567adc2f214a069799791c&show_border=false&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=a6a6a6">
    </iframe>
    </div>
    <div class="buttons">
      <a target="_blank" href="https://www.amazon.com/gp/site-directory/ref=nav_shopall_btn?&_encoding=UTF8&tag=kikback-20&linkCode=ur2&linkId=4bccb1bac5c823e8cd556e7241726437&camp=1789&creative=9325"><button md-raised-button color="accent">Shop Amazon</button></a>
      <button md-raised-button color="accent" (click)="chrome.webstore.install()" id="install-link">Skip the site, Install the Chrome Extension!</button>
      <a target="_blank" href="https://www.amazon.com/wedding/bryson-wilding-kelsey-hobbs-ogden-march-2017/registry/3V2PFI51STEXW?&_encoding=UTF8&tag=kikback-20&linkCode=ur2&linkId=fb2b2cc48b21b34213528456438f1a65&camp=1789&creative=9325"><button md-raised-button color="accent">See my Schools Registry</button></a>
    </div>
    <div class="footer" color="accent">
      site info and stuff
    </div>
  </div>

</div>